node_modules
dist
coverage
*.log

.env
.env.*
!.env.example

google-application-credentials.json
credentials.json
out.json

data/*
!data/*.example.yaml
finetune
.vscode

*.7z
*.wav
*.mp3
*.opus
*.flac
